// variables
$primary-font:'Source Sans Pro', sans-serif;
$primaruy-blue:#013369;
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
}

.active {
  visibility: visible;
}
.owl-carousel .item {
  height: 10rem;
  background: #4dc7a0;
  padding: 1rem;
}