.hero-sectn{
    width: 100%;
    gap: 2rem;
    padding: 0rem 4rem;
    padding-top: 4rem;
    font-family: $primary-font;
    @media(max-width:768px){
        flex-direction: column;
        padding: 1.2rem 1rem;
    }
    .left-hero{
        width: 68%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        @media(max-width:768px){
            width: 100%;
        }
        img{
            width: 100%;
        }
        h2{
            font-size: 34px;
            line-height: 60px;
            color: #151515;
        }
        p{
            color: rgb(59, 58, 58);
        }
    }
    .right-hero{
        width: 32%;
        padding: .5rem 2rem;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        @media(max-width:768px){
            width: 100%;
            padding: .2rem 0rem;
        }
        .top-right-hero{
            gap: 2rem;
            font-weight: bold;
            @media(max-width:768px){
                width: 100%;
            }
        }
        .team-details{
            width: 100%;
            padding-top: 1rem;
            @media(max-width:768px){
                width: 100%;
            }
            p{
                padding: .2rem;
            }
        }
        .more-news{
            text-align: center;
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            font-weight: bolder;
            @media(max-width:768px){
                width: 100%;
            }
            a{
                align-items: center;
            }
        }

    }}